apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: lockate
  labels:
    cnpg.io/reload: "true"
type: kubernetes.io/basic-auth
stringData:
  username: lockate
  password: "***"
