apiVersion: v1
kind: Secret
metadata:
  name: ovh-credentials-secret
  namespace: cert-manager
type: Opaque
stringData:
  applicationKey: "***"
  applicationSecret: "***"
  applicationConsumerKey: "***"
